.DS_Store

ci/application/cache/*
!ci/application/cache/index.html
!ci/application/cache/.htaccess

ci/application/logs/*
!ci/application/logs/index.html
!ci/application/logs/.htaccess

test/*
uploads/*
example/*